<div class="container justify-content-center mt-5">
    <div class="row justify-content-center">
        <div class="col-md-3 col-sm-6">
            <div class="card card-block" id="green">
                <img src="assets/images/search/doctor_video.webp" alt="...">
                <h3 class="card-title">Instant Audio/Video Consultations</h3>
                <p class="card-text">Connect directly with Doctors</p>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="card card-block" id="blue">
                <img src="assets/images/search/nearby_doctor.webp" alt="...">
                <h3 class="card-title">Find Doctor Near You</h3>
                <br>
                <p class="card-text">Confirmed appointment</p>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="card card-block" id="green">
                <img src="assets/images/search/medicines_delivery.webp" alt="...">
                <h3 class="card-title">Medicines</h3>
                <br>
                <p class="card-text">Medicines at your doorstep</p>
            </div>
        </div>
        <div class="col-md-3 col-sm-6" id="blue">
            <div class="card card-block">
                <img src="assets/images/search/lab_test.png" alt="...">
                <h3 class="card-title">Lab Tests</h3>
                <br>
                <p class="card-text">Sample collection at your home</p>
            </div>
        </div>
    </div>
</div>
<div style="background-color: lightgrey;">
    <div class="d-flex justify-content-center">
        <h1>Are you a Doctor</h1>
    </div>
    <div class="d-flex justify-content-center">
        <h4>Be a part of the next big thing in healthcare. Join us in our journey of revolutionizing healthcare delivery by harnessing technology to help millions lead healthier lives.
        </h4>
    </div>
    <div class="d-flex justify-content-center">
        <button class="btn-danger">Know More</button>
    </div>
</div>
<div>
    <h2 style="padding-left: 10%;">Book an appointment for an in-clinic consultation
    </h2>
    <h5 style="padding-left: 10%;">
        Find experienced doctors across all specialties
    </h5>
    <div class="container justify-content-center mt-5">
        <div class="row justify-content-center">
            <div class="col-md-3 col-sm-6">
                <div class="card card-block">
                    <img src="assets/images/topCategories/dentist.jpg" alt="...">
                    <h3 class="card-title">Dentist</h3>
                    <p class="card-text">Connect directly with Doctors</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="card card-block">
                    <img src="assets/images/topCategories/gynecologist.jpg" alt="...">
                    <h3 class="card-title">Gynecologist</h3>
                    <br>
                    <p class="card-text">Confirmed appointment</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="card card-block">
                    <img src="assets/images/topCategories/nutrition.jpg" alt="...">
                    <h3 class="card-title">Dietition/Nutrition</h3>
                    <br>
                    <p class="card-text">Medicines at your doorstep</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="card card-block">
                    <img src="assets/images/topCategories/physiotherapist.jpg" alt="...">
                    <h3 class="card-title">Physiotherapist</h3>
                    <br>
                    <p class="card-text">Sample collection at your home</p>
                </div>
            </div>
        </div>
    </div>
</div>