<div class="container justify-content-center">
    <div class="row justify-content-center">
        <div class="col-md-3 col-sm-6">
            <div class="card card-block">
                <img src="assets/images/search/doctor_video.webp" alt="...">
                <h5 class="card-title mt-3 mb-3">Sierra Web Development • Owner</h5>
                <p class="card-text">This is a company that builds websites, web apps and e-commerce solutions.</p>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="card card-block">
                <img src="assets/images/search/nearby_doctor.webp" alt="...">
                <h5 class="card-title  mt-3 mb-3">ProVyuh</h5>
                <p class="card-text">This is a company that builds websites, web .</p>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="card card-block">
                <img src="assets/images/search/medicines_delivery.webp" alt="...">
                <h5 class="card-title  mt-3 mb-3">ProVyuh</h5>
                <p class="card-text">This is a company that builds websites, web apps and e-commerce solutions.</p>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="card card-block">
                <img src="assets/images/search/lab_test.png" alt="...">
                <h5 class="card-title  mt-3 mb-3">ProVyuh</h5>
                <p class="card-text">This is a company that builds websites, web apps and e-commerce solutions.</p>
            </div>
        </div>
    </div>
</div>