<div class="container content">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">Chat
                    <div style="float: right;">
                        <i class="fa fa-phone fa-2x" aria-hidden="true"></i>
                        <i class="fa fa-video-camera fa-2x" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="card-body height3">
                    <ul class="chat-list">
                        <li class="in">
                            <div class="chat-img">
                                <img alt="Avtar" src="https://bootdey.com/img/Content/avatar/avatar1.png">
                            </div>
                            <div class="chat-body">
                                <div class="chat-message">
                                    <h5>Sender Name</h5>
                                    <p>Sender message</p>
                                </div>
                            </div>
                        </li>
                        <li class="out">
                            <div class="chat-img">
                                <img alt="Avtar" src="https://bootdey.com/img/Content/avatar/avatar6.png">
                            </div>
                            <div class="chat-body">
                                <div class="chat-message">
                                    <h5>You</h5>
                                    <p>Your message</p>
                                </div>
                            </div>
                        </li>
                        <li class="in">
                            <div class="chat-img">
                                <img alt="Avtar" src="https://bootdey.com/img/Content/avatar/avatar1.png">
                            </div>
                            <div class="chat-body">
                                <div class="chat-message">
                                    <h5>Sender Name</h5>
                                    <p>Sender message</p>
                                </div>
                            </div>
                        </li>
                        <li class="out">
                            <div class="chat-img">
                                <img alt="Avtar" src="https://bootdey.com/img/Content/avatar/avatar6.png">
                            </div>
                            <div class="chat-body">
                                <div class="chat-message">
                                    <h5>You</h5>
                                    <p>Your message</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Type your message here" aria-label="Recipient's username" aria-describedby="button-addon2">
                    <button class="btn btn-outline-secondary" type="button" id="button-addon2">Send</button>
                </div>
            </div>
        </div>
    </div>
</div>