<div class="row">
    <div class="col-md-3" style="background-color: grey">
        <app-filter></app-filter>
    </div>
    <div class="col-md-9" style="max-width: 1100px;">
        <div class="row" style="background-color:aliceblue; margin: 0px 0px 20px 0px;">
            <div class="col-md-9">
                <h1>Dr. Rufus Sunu</h1>
                <h5>MBBS</h5>
                <div>rating</div>
                <div>clicnic or hospital name</div>
                <button class="btn btn-primary">Chat now</button>
                <button class="btn btn-primary">Book a Appointment</button>
            </div>
            <div class="col-md-3"><img [src]="pic_src" [alt]="pic_src"></div>
        </div>
        <div class="row" style="background-color:aliceblue; margin: 0px 0px 20px 0px;">
            <div class="col-md-9">
                <h1>Dr. Kanish Sinha</h1>
                <h5>MBBS</h5>
                <div>rating</div>
                <div>clicnic or hospital name</div>
                <button class="btn btn-primary">Chat now</button>
                <button class="btn btn-primary">Book a Appointment</button>
            </div>
            <div class="col-md-3"><img [src]="pic_src" [alt]="pic_src"></div>
        </div>
        <div class="row" style="background-color:aliceblue; margin: 0px 0px 20px 0px;">
            <div class="col-md-9">
                <h1>Dr. Sanaur Rehman</h1>
                <h5>MBBS</h5>
                <div>rating</div>
                <div>clicnic or hospital name</div>
                <button class="btn btn-primary">Chat now</button>
                <button class="btn btn-primary">Book a Appointment</button>
            </div>
            <div class="col-md-3"><img [src]="pic_src" [alt]="pic_src"></div>
        </div>
        <div class="row" style="background-color:aliceblue; margin: 0px 0px 20px 0px;">
            <div class="col-md-9">
                <h1>Dr. Rehana Tausif</h1>
                <h5>MBBS</h5>
                <div>rating</div>
                <div>clicnic or hospital name</div>
                <button class="btn btn-primary">Chat now</button>
                <button class="btn btn-primary">Book a Appointment</button>
            </div>
            <div class="col-md-3"><img [src]="pic_src" [alt]="pic_src"></div>
        </div>
    </div>
</div>