<div id="wrapper">
    <nav class="navbar navbar-inverse fixed-top" id="sidebar-wrapper" role="navigation">
        <ul class="nav sidebar-nav">
            <div class="sidebar-header">
                <div class="sidebar-brand">
                    <a href="#">Brand</a></div>
            </div>
            <li><a href="#home">Book A Appointment</a></li>
            <li><a href="#about">Schedule Your Test</a></li>
            <li><a href="#events">Consult</a></li>
            <li><a href="#team">Contact Us</a></li>
            <li><a href="#team">Login</a></li>
            <li><a href="#team">Register</a></li>
        </ul>
    </nav>
    <div class="d-flex flex-row-reverse">
        <button class="btn btn-outline-info">Login</button>
        <button class="btn btn-outline-info">Register</button>
    </div>
    <div id="page-content-wrapper">
        <button type="button" class="hamburger animated fadeInLeft is-closed" data-toggle="offcanvas">
                 <span class="hamb-top"></span>
                 <span class="hamb-middle"></span>
                 <span class="hamb-bottom"></span>
             </button>
    </div>
</div>