<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner" align="center">
        <div class="carousel-item active">
            <img [src]="actualImage" class="d-block w-100 carousel_image" alt="...">
            <div class="carousel-caption">
                <div class="row">
                    <form>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search nearby clinic,hospital,doctor,etc">
                            <button class="btn btn-secondary" type="button" id="button-addon2">Search</button>
                        </div>
                    </form>
                </div>
                <div class="row">
                    <form>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Look for symptoms">
                            <button class="btn btn-secondary" type="button" id="button-addon2">Search</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-md-12" style="padding-left: 5%; padding-right: 5%;margin-top: 2%;">
    <div class="row d-flex justify-content-center">
        <div class="col-xl-3 col-lg-6">
            <div class="card l-bg-cherry">
                <div class="card-statistic-3 p-3 text-center">
                    <h2 class="text-center"><i class="fa fa-user-md fa-3x" aria-hidden="true"></i>
                    </h2>
                    <div class="mb-2">
                        <h1 class="card-title mb-0">1000+</h1>
                    </div>
                    <h2>
                        DOCTORS
                    </h2>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-6">
            <div class="card l-bg-blue-dark">
                <div class="card-statistic-3 p-3 text-center">
                    <h2><i class="fa fa-users fa-3x" aria-hidden="true"></i></h2>
                    <div class="mb-2">
                        <h1 class="card-title mb-0">1000+</h1>
                    </div>
                    <h2>
                        WORKERS
                    </h2>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-6">
            <div class="card l-bg-green-dark">
                <div class="card-statistic-3 p-3 text-center">
                    <h2><i class="fa fa-hospital-o fa-3x" aria-hidden="true"></i>
                    </h2>
                    <div class="mb-2">
                        <h1 class="card-title mb-0">1000+</h1>
                    </div>
                    <h2>
                        CLINIC AND HOSPITALS
                    </h2>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-6">
            <div class="card l-bg-orange-dark">
                <div class="card-statistic-3 p-3 text-center">
                    <h2><i class="fa fa-handshake-o fa-3x" aria-hidden="true"></i>
                    </h2>
                    <div class="mb-2">
                        <h1 class="card-title mb-0">1000+</h1>
                    </div>
                    <h2>
                        CUSTOMERS
                    </h2>
                </div>
            </div>
        </div>
    </div>
</div>
<app-search></app-search>