<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner" align="center">
        <div class="carousel-item active" data-bs-interval="6000">
            <img [src]="img_src[0]" class="d-block w-100 carousel_image" alt="...">
            <div class="carousel-caption">
                doctors who care
                <div>our doctors listen to you patiently and only precribe what's neccessary</div>
            </div>
        </div>
        <div class="carousel-item" data-bs-interval="4000">
            <img [src]="img_src[1]" class="d-block w-100 carousel_image" alt="...">
            <div class="carousel-caption">
                curated doctors
                <div>we hand picks doctor for you,onboarded after a mutli-step screening process</div>
            </div>
        </div>
        <div class="carousel-item" data-bs-interval="4000">
            <img [src]="img_src[2]" class="d-block w-100 carousel_image" alt="...">
            <div class="carousel-caption">
                transparent and secure
                <div>nothing is hidden.access your medical records in your health locker,24*7</div>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
</div>
<div class="col-md-12" style="padding-left: 5%; padding-right: 5%;margin-top: 6%;">
    <div class="row d-flex justify-content-center">
        <div class="col-xl-3 col-lg-6">
            <div class="card l-bg-cherry">
                <div class="card-statistic-3 p-3 text-center">
                    <h2 class="text-center"><i class="fa fa-user-md fa-3x" aria-hidden="true"></i>
                    </h2>
                    <div class="mb-2">
                        <h1 class="card-title mb-0">1000+</h1>
                    </div>
                    <h2>
                        DOCTORS
                    </h2>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-6">
            <div class="card l-bg-blue-dark">
                <div class="card-statistic-3 p-3 text-center">
                    <h2><i class="fa fa-users fa-3x" aria-hidden="true"></i></h2>
                    <div class="mb-2">
                        <h1 class="card-title mb-0">1000+</h1>
                    </div>
                    <h2>
                        WORKERS
                    </h2>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-6">
            <div class="card l-bg-green-dark">
                <div class="card-statistic-3 p-3 text-center">
                    <h2><i class="fa fa-hospital-o fa-3x" aria-hidden="true"></i>
                    </h2>
                    <div class="mb-2">
                        <h1 class="card-title mb-0">1000+</h1>
                    </div>
                    <h2>
                        CLINIC AND HOSPITALS
                    </h2>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-6">
            <div class="card l-bg-orange-dark">
                <div class="card-statistic-3 p-3 text-center">
                    <h2><i class="fa fa-handshake-o fa-3x" aria-hidden="true"></i>
                    </h2>
                    <div class="mb-2">
                        <h1 class="card-title mb-0">1000+</h1>
                    </div>
                    <h2>
                        CUSTOMERS
                    </h2>
                </div>
            </div>
        </div>
    </div>
</div>
<app-search></app-search>
<app-lower></app-lower>