<div class="container mt-2">
    <div>Common health corner</div>
    <div class="row">
        <div class="col-md-3 col-sm-6">
            <div class="card card-block">
                <h4 class="card-title text-right"><i class="material-icons">settings</i></h4>
                <img src="https://static.pexels.com/photos/7096/people-woman-coffee-meeting.jpg" alt="Photo of sunset">
                <h5 class="card-title mt-3 mb-3">Sierra Web Development • Owner</h5>
                <p class="card-text">This is a company that builds websites, web apps and e-commerce solutions.</p>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="card card-block">
                <h4 class="card-title text-right"><i class="material-icons">settings</i></h4>
                <img src="https://static.pexels.com/photos/7357/startup-photos.jpg" alt="Photo of sunset">
                <h5 class="card-title  mt-3 mb-3">ProVyuh</h5>
                <p class="card-text">This is a company that builds websites, web .</p>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="card card-block">
                <h4 class="card-title text-right"><i class="material-icons">settings</i></h4>
                <img src="https://static.pexels.com/photos/262550/pexels-photo-262550.jpeg" alt="Photo of sunset">
                <h5 class="card-title  mt-3 mb-3">ProVyuh</h5>
                <p class="card-text">This is a company that builds websites, web apps and e-commerce solutions.</p>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="card card-block">
                <h4 class="card-title text-right"><i class="material-icons">settings</i></h4>
                <img src="https://static.pexels.com/photos/326424/pexels-photo-326424.jpeg" alt="Photo of sunset">
                <h5 class="card-title  mt-3 mb-3">ProVyuh</h5>
                <p class="card-text">This is a company that builds websites, web apps and e-commerce solutions.</p>
            </div>
        </div>
    </div>

</div>
<div class="container mt-2">
    <div>Top Categories</div>
    <div class="row">
        <div class="col-md-3 col-sm-6">
            <div class="card card-block">
                <h4 class="card-title text-right"><i class="material-icons">settings</i></h4>
                <img src="https://static.pexels.com/photos/7096/people-woman-coffee-meeting.jpg" alt="Photo of sunset">
                <h5 class="card-title mt-3 mb-3">Sierra Web Development • Owner</h5>
                <p class="card-text">This is a company that builds websites, web apps and e-commerce solutions.</p>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="card card-block">
                <h4 class="card-title text-right"><i class="material-icons">settings</i></h4>
                <img src="https://static.pexels.com/photos/7357/startup-photos.jpg" alt="Photo of sunset">
                <h5 class="card-title  mt-3 mb-3">ProVyuh</h5>
                <p class="card-text">This is a company that builds websites, web .</p>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="card card-block">
                <h4 class="card-title text-right"><i class="material-icons">settings</i></h4>
                <img src="https://static.pexels.com/photos/262550/pexels-photo-262550.jpeg" alt="Photo of sunset">
                <h5 class="card-title  mt-3 mb-3">ProVyuh</h5>
                <p class="card-text">This is a company that builds websites, web apps and e-commerce solutions.</p>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="card card-block">
                <h4 class="card-title text-right"><i class="material-icons">settings</i></h4>
                <img src="https://static.pexels.com/photos/326424/pexels-photo-326424.jpeg" alt="Photo of sunset">
                <h5 class="card-title  mt-3 mb-3">ProVyuh</h5>
                <p class="card-text">This is a company that builds websites, web apps and e-commerce solutions.</p>
            </div>
        </div>
    </div>

</div>
<div class="container bootstrap snippets bootdeys">
    <div class="row">
        <div class="col-md-4 col-sm-6 content-card">
            <div class="card-big-shadow">
                <div class="card card-just-text" data-background="color" data-color="blue" data-radius="none">
                    <div class="content">
                        <h6 class="category">Best cards</h6>
                        <h4 class="title"><a href="#">Blue Card</a></h4>
                        <p class="description">What all of these have in common is that they're pulling information out of the app or the service and making it relevant to the moment. </p>
                    </div>
                </div>
                <!-- end card -->
            </div>
        </div>

        <div class="col-md-4 col-sm-6 content-card">
            <div class="card-big-shadow">
                <div class="card card-just-text" data-background="color" data-color="green" data-radius="none">
                    <div class="content">
                        <h6 class="category">Best cards</h6>
                        <h4 class="title"><a href="#">Green Card</a></h4>
                        <p class="description">What all of these have in common is that they're pulling information out of the app or the service and making it relevant to the moment. </p>
                    </div>
                </div>
                <!-- end card -->
            </div>
        </div>

        <div class="col-md-4 col-sm-6 content-card">
            <div class="card-big-shadow">
                <div class="card card-just-text" data-background="color" data-color="yellow" data-radius="none">
                    <div class="content">
                        <h6 class="category">Best cards</h6>
                        <h4 class="title"><a href="#">Yellow Card</a></h4>
                        <p class="description">What all of these have in common is that they're pulling information out of the app or the service and making it relevant to the moment. </p>
                    </div>
                </div>
                <!-- end card -->
            </div>
        </div>

        <div class="col-md-4 col-sm-6 content-card">
            <div class="card-big-shadow">
                <div class="card card-just-text" data-background="color" data-color="brown" data-radius="none">
                    <div class="content">
                        <h6 class="category">Best cards</h6>
                        <h4 class="title"><a href="#">Brown Card</a></h4>
                        <p class="description">What all of these have in common is that they're pulling information out of the app or the service and making it relevant to the moment. </p>
                    </div>
                </div>
                <!-- end card -->
            </div>
        </div>

        <div class="col-md-4 col-sm-6 content-card">
            <div class="card-big-shadow">
                <div class="card card-just-text" data-background="color" data-color="purple" data-radius="none">
                    <div class="content">
                        <h6 class="category">Best cards</h6>
                        <h4 class="title"><a href="#">Purple Card</a></h4>
                        <p class="description">What all of these have in common is that they're pulling information out of the app or the service and making it relevant to the moment. </p>
                    </div>
                </div>
                <!-- end card -->
            </div>
        </div>

        <div class="col-md-4 col-sm-6 content-card">
            <div class="card-big-shadow">
                <div class="card card-just-text" data-background="color" data-color="orange" data-radius="none">
                    <div class="content">
                        <h6 class="category">Best cards</h6>
                        <h4 class="title"><a href="#">Orange Card</a></h4>
                        <p class="description">What all of these have in common is that they're pulling information out of the app or the service and making it relevant to the moment. </p>
                    </div>
                </div>
                <!-- end card -->
            </div>
        </div>
    </div>
</div>